body {
    background: url(../img/FondoMyLittlePony.png);
    background-size: cover;/*Con esto abarco el 100% de la pantalla*/
    background-attachment: fixed;
    font-family: Roboto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(181, 215, 243, 0.6);
    padding: 10px;
  }
  .grid-item {
    background-color:rgba(247, 217, 174, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 20px;
    text-align: center;
  }


.contenedor-form {/*Es el cuadro que mantiene todo junto en el centro*/
    background: rgba(59, 59, 59, 0.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;/*Para que el 'Crear cuenta'este dentro del cuadro*/
    padding: 40px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;/**/
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.principal-form h2 {
    margin: 0 0 28px 0;/**/
    font-size: 40px;
    font-weight: 550;
    line-height: 1;
    text-align: center;
}
.contenedor-form select {
    display: block;
 font-size: 16px;
 font-family: 'Arial', sans-serif;
 font-weight: 400;
 background: rgba(0,0,0,.4);
    color: #fff;
 /*color: #444;*/
 line-height: 1.3;
 padding: .4em 1.4em .3em .8em;
 width: 100%;
 max-width: 100%; 
 box-sizing: border-box;
 margin: 0;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"]{
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;/*Margenes de las cajas de texto*/
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #1bffff;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus{
  /*Esto cambia el color cuando el mouse esa encima*/
    border-bottom: 4px solid #d98d00;
}  

.principal-form input[type="submit"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;/*Ocupa todo el ancho del cuadro*/
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;/*Ocupa todo el ancho del cuadro*/
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

